.header-banner {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.header-banner p {
    border: 2px solid darkgray;
    border-radius: 8px;
    padding: 25px !important;
    font-weight: bold;
}

.page-bottom {
    width: 100% !important;
}
